.productImage {
  position: relative;
}
.productImage_options {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-flow: column-reverse;
}
.productImage_item {
  width: 80px;
  height: 80px;
  margin-top: 16px;
  padding: 5px;
  border: 0.5px solid transparent;
  border-radius: 5px;
}
.productImage_item-active {
  border: 0.5px solid var(--primary-one);
}
