.pProduct {
  padding-bottom: 16px;
}
.pProduct button {
  margin-top: 55px;
}
.pProduct_image {
  background: var(--background-products);
}
.pProduct_head-title {
  width: 60%;
  line-height: 1.4rem;
}
.pProduct_head {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 16px;
}
