.header .wrapper {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.header_ligth .wrapper {
  margin-bottom: 0 !important;
}
.header_logo {
  max-width: 80px;
}
.header_ligth {
  background: var(--background-products);
}
.header_goBack {
  display: flex;
  align-items: center;
  color: var(--primary-one);
  text-transform: uppercase;
  font-size: 0.85rem;
}
.header_goBack picture {
  transform: rotateZ(-180deg);
  margin-right: 5px;
}
