.category {
  display: block;
  text-decoration: none;
  height: 96px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--background-products);
  border-radius: 8px;
}
.category_name {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--color-text);
  opacity: 0.8;
}
